@model IEnumerable<GloableCommunication.DbModels.AcceptingCompany>

@{ 
    ViewData["Title"] = "AcceptingCompanyList";
    Layout = null; 
}

<div>
    <div>
        <button class="w3-button w3-green"
                onclick="ReturnBtn()">
            <i class="fa fa-arrow-left"></i>
        </button>
    </div>
    <div>
        <a asp-action="Create" style="font-size:15px; padding-left:10px">戻る</a>

    </div>
</div>

<style>
    tr:hover td {
        background-color: #0095ff;
        cursor: pointer;
    }

    /*table tr.active {
        background-color: #0095ff;
    }*/

    td .selectRow {
        border: 1px #DDD solid;
        padding: 5px;
        cursor: pointer;
    }

    .selected {
        background-color: #0095ff;
        color: #FFF;
    }

    .modal-nw {
        max-width: 50% !important;
        align-self: center !important;
    }
</style>


<div class=" w3-margin-top w3-gray">
    <h5 style="text-align:center">
        受入企業一覧
    </h5>
</div>



<table class="table table-bordered table-hover" id="acceptingCompanyTable">
    <thead>
        <tr>

            <th>
                受入企業CD
            </th>
            <th>
                受入企業の名前
            </th>
            <th style="display:none">
            </th>
            <th style="display:none">
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.HiraganaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerfectureId)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.CheifExecutiveOfficer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapitalStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Business)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalculateDateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalculateDateTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Charge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChargePosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChargeTelephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorPosition1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorTel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorPosition2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorTel2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorPosition3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorTel3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mentor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MentorPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MentorTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingAdress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingAdress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingFax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingPrefectureCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentsPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentsTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ＬtdCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpNotificationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpNotificationDate)
        </th>
        <th></th>*@
            <th style="display:none">
            </th>
            <th style="display:none">
            </th>
            <th style="display:none">
            </th>
            <th style="display:none">
            </th>
            <th style="display:none">
            </th>
            <th style="display:none">
            </th>
            <th style="display:none">
            </th>
            <th style="display:none">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.AcceptingCompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptingCompanyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptiingCompanyName)
            </td>

            @*<td>
            @Html.DisplayFor(modelItem => item.HiraganaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnglishName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerfectureId)
        </td>*@
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.TelephoneNo)
            </td>
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.IpNotificationNo)
            </td>
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.Business)
            </td>

            @*<td>
            @Html.DisplayFor(modelItem => item.CheifExecutiveOfficer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapitalStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Business)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalculateDateFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalculateDateTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Charge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChargePosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChargeTelephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorPosition1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorTel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorPosition2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorTel2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorPosition3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorTel3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mentor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MentorPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MentorTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingAdress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingAdress2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingFax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingPrefectureCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentsPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentsTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ＬtdCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpNotificationNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpNotificationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
            <td style="display:none">
            </td>
            <td style="display:none">
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    $(ModalBtn).prop("disabled", true);

    $("#acceptingCompanyTable tr").click(function () {
        $(this).addClass('selected').siblings().removeClass('selected');
        var nameValue = $(this).find('td:nth-child(3)').html();
        var nameValueTrim = nameValue.trim();
        $("input[name='AcceptingCompanyName']").val(nameValueTrim);
        var idValue = $(this).find('td:nth-child(1)').html();
        $("input[name='AcceptingCompanyId']").val(idValue);

        var acccodeValue = $(this).find('td:nth-child(2)').html();
        var accValueTrim = acccodeValue.trim();
        $("input[name='AcceptingCompanyCode']").val(accValueTrim);


        var zipValue = $(this).find('td:nth-child(4)').html();
        var zipValueTrim = zipValue.trim();
        $("input[name='ZipAccptingCom']").val(zipValueTrim);


        var Address1Value = $(this).find('td:nth-child(5)').html();
        var zaddress1ValueTrim = Address1Value.trim();
        $("input[name='Address1AccptCom']").val(zaddress1ValueTrim);

        var Address2Value = $(this).find('td:nth-child(6)').html();
        var zaddress2ValueTrim = Address2Value.trim();
        $("input[name='Address2AccptCom']").val(zaddress2ValueTrim);

        var TelValue = $(this).find('td:nth-child(7)').html();
        var telValueTrim = TelValue.trim();
        $("input[name='TelephoneNoAccptCom']").val(telValueTrim);

        var FaxValue = $(this).find('td:nth-child(8)').html();
        var faxValueTrim = FaxValue.trim();
        $("input[name='FaxAccptCom']").val(faxValueTrim);

        var FaxValue = $(this).find('td:nth-child(9)').html();
        var faxValueTrim = FaxValue.trim();
        $("input[name='IpNotificationNo']").val(faxValueTrim);

        var BusinessValue = $(this).find('td:nth-child(10)').html();
        var businessValueTrim = BusinessValue.trim();
        $("input[name='Business']").val(businessValueTrim);

        $(ModalBtn).prop("disabled", false);

    });

    function ReturnBtn() {
        $("input[name='AcceptingCompanyId']").val('');
        $("input[name='AcceptingCompanyName']").val('');
        $("input[name='AcceptingCompanyCode']").val('');
        $("input[name='ZipAccptingCom']").val('');
        $("input[name='Address1AccptCom']").val('');
        $("input[name='Address2AccptCom']").val('');
        $("input[name='TelephoneNoAccptCom']").val('');
        $("input[name='FaxAccptCom']").val('');
        $("input[name='IpNotificationNo']").val('');
        $("input[name='Business']").val('');


        $('#listViewModal').modal('hide');
    }

</script>

<script>
    $(document).ready(function () {
        $('#acceptingCompanyTable').DataTable({
            "lengthMenu": [5, 10, 15, 20, 30],
            "language": {
                "search": "検索:",
                "paginate": {
                    "first": "一ページ目",
                    "last": "最後のページ",
                    "next": "次へ",
                    "previous": "前へ"
                },
                "lengthMenu": " _MENU_ 件表示",
                "info": "検索結果 _TOTAL_ 以上 のうち _START_ ~ _END_件",
                "infoEmpty": "検索結果 0 以上 のうち 0 ~ 0件",
                "emptyTable": "条件に一致する結果は見つかりませんでした",
                "zeroRecords": "条件に一致する結果は見つかりませんでした",
            },
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>